<html>
    <head>
        
    <!-- Links CSS file-->
    <link type = "text/css" rel = "stylesheet" href = "{{ url_for('static', filename = 'styles/pillow.css')}}" >
    <title>Pillow</title> 
    </head>
    <body class = "editor-note">
            MOST WANTED: KILLER ON THE LOOSE! 
    </body>
    <h1></h1>
    <p>
        <img src = "{{url_for('static', filename = 'images/pillow.jpg')}}" class = "center" /> <!--calls center class in CSS FIle-->
            <h5>THE HORROR!!!</h5> <!-- sets header sizes between h1 (biggest) to h6 (smallest)-->
    </p>

    <!--shows a list -->
    <u1>
        
            <p>DETAILS:</p>
            <li>SUSPECT: Pillow</li>
            <li>VICTIM: Baby Passum</li>
            <li>TIME OF MURDER: 6 a.m.</li>
            <li>BOUNTY: $1,000,000</li>
            <li><a href = "http://127.0.0.1:5000/noodle">Accomplice</a></li> <!--link creation-->
    </u1>
    <script type = "text/javascript" src = "{{url_for('static',filename = 'scripts/pillow.js')}}"></script>
                <!--needs to be at the end of the file cause it needs to be loaded after all the text is loaded-->
<html>