
/*declaring all <p> elements get the color red*/
/*p { 
    color:rgb(47, 0, 255);
    width: 500px;
    border: 1 px solid black;
}*/

/*adds a font-family called test for other elements to inherit*/
@font-face {
    font-family: test;
    src: url('Raleway-ExtraBold.ttf');
    font-weight: bold;
    

}

p,li{
    font-family: test; /*declaring as a member of font-family test*/
    color:palevioletred;
    font-size: 20px;
}

.center{
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    height: 50%;
    filter:saturate(200%);
}

.editor-note{
    font-size: 64px;
    color: red;
}