
/*declaring all <p> elements get the color red*/
/*p { 
    color:rgb(47, 0, 255);
    width: 500px;
    border: 1 px solid black;
}*/


@font-face {
    font-family: test;
    src: url('Raleway-ExtraBold.ttf');
    font-weight: bold;
    

}

p,li{
    font-family: test;
    color:palevioletred;
    font-size: 20px;
}